@import '../base/variables';

$nav-background: $primary-black-gray-color;

.top-bar {
  background-color: $nav-background;

  .top-bar-left,
  .top-bar-right {
    .menu {
      .menu-text {
        color: $primary-white-text-color;
      }

      .active-link {
        font-weight: bold;
      }

      background-color: $nav-background;
    }
  }
}
